<html>

<body>

    <head>
        <title>PROJECT</title>
        <link rel="stylesheet" href="/courses/style.css">
        <script src="/courses/script.js"></script>
    </head>

    <!-- For searching of courses -->
    <h1>Welcome <%= name %></h1>
    <div class="searching">
        <form>
            <label>search for course</label><br>
            <input type="text" name="course_id" id="inval" placeholder="Course_Code" onkeyup="SearchFun()">
            <input type="submit" name="search" value="search">
        </form>

    </div>
    <!-- Fetching Courses Data from Database -->
    <form action="/courses" method="post">
        <table id="details">

            <tr>
                <th>Course_Id</th>
                <th>Course_Name</th>
                <th>L-T-P-C</th>
                <th>Credit</th>
                <th>Select</th>
            </tr>

            <% for (var i=0; i < courseDisplay.length ; i++){ %>

                <tr>

                    <td>
                        <%= courseDisplay[i]._id %>
                    </td>
                    <td>
                        <%= courseDisplay[i].NAME %>
                    </td>
                    <td>
                        <%= courseDisplay[i].LTPC %>
                    </td>
                    <td>
                        <%= courseDisplay[i].CREDITS %>
                    </td>
                    <td>
                        <input type="checkbox" id="select" name="selected_to_add" value=<%=i %> >
                    </td>

                </tr>

                <% } %>

                    <!-- <form action="/courses" method="post"> -->
                    <button type="submit" name="change" value="prev">Previous</button>
                    <button type="submit" name="change" value="next">Next</button>
                    <!-- </form> -->


        </table>

        <br>

        <!-- <form action="/courses" method="post"> -->
        <button type="submit" name="add_drop" id="add" value="Add">ADD</button>

        <br><br><br>
        <h>selected courses:</h>
        <table id="display">
            <tr>

                <th>Course_Id</th>
                <th>Course_Name</th>
                <th>L-T-P-C</th>
                <th>Credit</th>
                <th>Select</th>

            </tr>


            <% for (var i=0; i < courseChosen.length ; i++){ %>

                <tr>

                    <td>
                        <%= courseChosen[i]._id %>
                    </td>
                    <td>
                        <%= courseChosen[i].NAME %>
                    </td>
                    <td>
                        <%= courseChosen[i].LTPC %>
                    </td>
                    <td>
                        <%= courseChosen[i].CREDITS %>
                    </td>
                    <td>
                        <input type="checkbox" id="select" name="selected_to_drop" value=<%=courseChosen[i]._id %> >
                    </td>

                </tr>

                <% } %>

        </table>
        <button type="submit" name="add_drop" id="drop" value="drop">DROP</button>
        <br>
        <br>
        <button type="submit" name="submit" id="submit" value="submit">Submit</button>
        <h1><%= message %></h1>
    </form>

</body>
</html>
